{
  "$schema": "../scoutnet-membership-manager.schema.json",
  "name": "Scoutkåren Finn (stående Utmanare)",
  "avdelningar": [
    { "name": "Hajarna",       "bracket": "sparare",    "weekday": 0 },
    { "name": "Späckhuggarna", "bracket": "sparare",    "weekday": 1 },
    { "name": "Rockorna",      "bracket": "sparare",    "weekday": 2 },
    { "name": "Kämparna",      "bracket": "upptackare", "weekday": 0 },
    { "name": "Spejarna",      "bracket": "upptackare", "weekday": 1 },
    { "name": "Utforskarna",   "bracket": "upptackare", "weekday": 2 },
    { "name": "Vikingarna",    "bracket": "aventyrare", "weekday": 3, "target": "Finnfararna" },
    { "name": "Finnfararna",   "bracket": "utmanare" },
    { "name": "Finness",       "bracket": "rover" },
    { "name": "Ledare",        "bracket": "annat" }
  ]
}
